<span class="radioClass">Show : </span>
<input type="radio" name="options" value="all" [(ngModel)] ="selectedRadioButtonValue" 
       (change) ="onRadioButtonSelectionChange()"/>
<span class="radioClass">{{"all(" + all +")"}}</span>

<input type="radio" name="options" value="Male" [(ngModel)] ="selectedRadioButtonValue" 
       (change) ="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Male(" + Male +")"}}</span>

<input type="radio" name="options" value="FeMale" [(ngModel)] ="selectedRadioButtonValue" 
       (change) ="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"FeMale(" + FeMale +")"}}</span>
<br />
<!--<table>
    <tr>
        <td>First Name1</td>
        <td>{{firstName}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{lastName}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{gender}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{age}}</td>
    </tr>
</table>-->