<my-customer [all]="getTotalCustomerCount()"
             [Male]="getTotalMaleCustomerCount()"
             [FeMale]="getTotalFeMaleCustomerCount()"
             (radioButtonSelectionChanged)="onCustomerRadioButtonChange($event)">
</my-customer>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let cust of customers;">
            <tr  *ngIf="selectedCustomerRadioButton=='all' || selectedCustomerRadioButton == cust.gender">
                <td>{{cust.firstName}}</td>
                <td>{{cust.lastName}}</td>
                <td>{{cust.gender}}</td>
                <td>{{cust.age}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="customers || customers.length==0">
            <td colspan="5">No Customers to display</td>
        </tr>
    </tbody>
</table>